{% load static %}
<html>
    <head>
        <title>SBA Faculty</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">SBA Faculty</a></h1>
        </div>

	{% for faculty in facultys %}
    	<div class="post">
        	<p>{{ faculty.name }} ({{ faculty.status }})</p>
    	</div>
	{% endfor %}

    </body>
</html>